requests
pycryptodome
curl_cffi
aiohttp
certifi
browser_cookie3
websockets
js2py
typing-extensions
PyExecJS
duckduckgo-search
nest_asyncio
waitress
werkzeug
loguru
tiktoken
pillow
platformdirs
numpy
replicate
websocket-client
asgiref
fastapi
uvicorn
requests-ip-rotator==1.0.14
