requests
pycryptodome
curl_cffi
aiohttp
certifi
browser_cookie3
websockets
js2py
typing-extensions
PyExecJS
duckduckgo-search
nest_asyncio
waitress
werkzeug
loguru
tiktoken
pillow
platformdirs
numpy
replicate
websocket-client
asgiref
fastapi
uvicorn
requests-ip-rotator==1.0.14
py-arkose-generator
async-property
undetected-chromedriver
brotli
beautifulsoup4
setuptools
aiohttp_socks
flask
flask-cors
watchdog~=3.0.0
ollama